---
import "../styles/global.css";
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "文章";
---
<BaseLayout pageTitle={pageTitle}>
    <ul>
        <li><a href="/posts/post-1/">毕业设计项目总结</a></li>
    </ul>
</BaseLayout>